.image-cropper {
    box-sizing: border-box;
    float: left;
    margin: 10px;
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid lightgray;
    display: inline-block;

}

.image {
    /* display: inline-block; */
    margin: 0 auto;
    /* margin-left: 8%;  */
    height: 100%;
    width: auto;
}